@inherits LayoutComponentBase
<div class="page">
   @* <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="pokedex-header">
            <img src="images/title.png" alt="Pokémon Logo" class="logo" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
