<h3>Component</h3>

@code {
    public class PokemonDetail
    {
        public string name { get; set; }
        public int id { get; set; }
        public Sprites sprites { get; set; }
    }

    public class Sprites
    {
        public string front_default { get; set; }
    }
}
